<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = ""
    id          = "com.grantz.tracker"
    versionCode = "1"
    version     = "0.0.1" >

    <name>Tracker</name>

    <description>
        Tracking app
    </description>

    <author href="https://" email="martin.grantz@gmail.com">
        Martin Gräntz
    </author>
    <gap:plugin name="org.transistorsoft.cordova.background-geolocation" />
</widget>